<header>
          <nav>
              <div class="perfil-contenedor">
                  <h1><em>
                      Marcela Suazo
                  </h1></em>
              </div>
              <ul class="menu-izquierda">
                  <li><a href="index.html">Sobre mí</a></li>
                  <li><a href="proyectos.html">Proyectos</a></li>
                  <li><a href="contactame.html">Contáctame</a></li>
              </ul>
          </nav>
        </header>