<div class="redes-barra">
            <ul>
                <li><a href="https://wa.me/32846366" target="_blank"><img src="/imagenes/icono_whatsapp.png" alt="Whatsapp" /></a></li>
                <li><a href="https://www.instagram.com/mahily20164?igsh=MW9tbDJuOGRlam1uaw==" target="_blank"><img src="/imagenes/icono_instagram.png" alt="Instagram" /></a></li>
                <li><a href="https://youtube.com/@mahilysuazo7039?si=uOmg4zeongg6WLxd" target="_blank"><img src="/imagenes/icono_youtube.png" alt="Youtube" /></a></li>
                <li><a href="https://github.com/Marsuazo23?tab=overview&from=2024-12-01&to=2024-12-31" target="_blank"><img src="/imagenes/icono_github.png" alt="Github" /></a></li>
            </ul>
        </div>